<div class="bg">
    <app-header title="Consulta de colaboradores"></app-header>

    <div class="container" *ngIf="employeeDetails">
        <mat-card class="profile-card">
            <div class="profile-pic">
                <img [src]="employeeDetails.profilePicture">
            </div>
            <div class="profile-description">
                <div>
                    <div class="title">
                        <div>{{employeeDetails.name}}</div>
                        <div>
                            <button mat-button (click)="editEmployee()">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                EDITAR
                            </button>
                            <button mat-button>
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                EXCLUIR
                            </button>
                        </div>
                    </div>
                </div>
                <div class="subtitle">{{employeeDetails.charge}}</div>
                <div class="subtitle">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <span>{{employeeDetails.team}}</span>
                </div>
            </div>
        </mat-card>

        <mat-card class="experience-card mg-top-16">
            <h2>Experiências profissionais</h2>

            <mat-card class="experience mg-top-16" *ngFor="let item of employeeDetails.professionalExperience">
                <div class="experience-pic">
                    <img [src]="item.experienceImage">
                </div>
                <div class="experience-description mg-top-16">
                    <div class="subtitle">{{item.description}}</div>
                </div>
            </mat-card>

            <div class="chip-div mg-top-16">
                <mat-chip-list aria-label="Seleção de filtro">
                    <mat-chip *ngFor="let item of employeeDetails.skills">{{item}}</mat-chip>
                </mat-chip-list>
            </div>

            <div class="contact mg-top-16">
                <div *ngFor="let item of contactList; let i=index" class="mg-top-16">
                    <i class="fa fa-{{item.icon}}" aria-hidden="true"></i>
                    <span *ngIf="i < 3">{{item.text | mask: '(00) 0000-0000'}}</span>
                    <span *ngIf="i >= 3">{{item.text}}</span>
                </div>
            </div>

            <div class="fx jc-c address">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>{{employeeDetails.contact.address}}</span>
            </div>
        </mat-card>
    </div>
</div>